server:
  port: 8000

spring:
  application:
    name: mealplaner-java
  data:
    mongodb:
      uri: ${MONGODB_URI}
      database: ${MONGODB_DB}

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true
